<% include partials/header %>
    <h1>
        <%= title %>
    </h1>
    <p>
        <%= message %>
    </p>
    <img src="/alex.jpg" alt="Smiley face" height="300" width="300"></img> 

    <% include partials/footer %>