<% include partials/header %>

  <h1>
    <%= title %>
  </h1>
  <p>Hello and
    <%= message %>
  </p>

  <% include partials/footer %>

        <main class="mdl-layout__content">
            <div class="mdl-grid portfolio-max-width">
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="article-image" src="../images/alex.jpg" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">View Assignment</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                       This link will open the assignment 1 instructions
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="/assign">Read more</a>
                    </div>
                </div>
                
               
                </div>
            </div>
        </main>
    </div>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>

</html>
